* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #wrapper {
    height: 100vh;
    overflow-x: hidden; /*Not want to scroll left and right*/
    overflow-y: auto;/*auto for scrolling top and bottom*/
    perspective: 10px;
  }
  .container {
    position: relative; /*for overlapping we need absolute , for it nearest non static container , therefore we are giving it absolute*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .background {
    border: 5px solid black;
    transform: translateZ(-40px) scale(5);/*door bhej diya hi , -ve use krke , ab use bada kr dete hi.*/
  }

  .forground {
    height: 100px;
    transform: translateZ(-20px) scale(3); 
  }

  .forground,
  .background{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;/*value ko upar neeche krwana as per their order*/
    object-fit: cover;/*fit width */
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust color as needed */
    font-size: 3em; /* Adjust size as needed */
    z-index: 2; /* Ensure the text is above the images */
    text-shadow: 2px 2px 4px #000; /* Optional: Add shadow for better visibility */
}