.container{
    height: 500px;
    border : 1px solid green;
    display : flex;
    flex-direction: row;/*column-reverse , row-reverse, row*/
    flex-wrap: wrap;

    justify-content: center; 

    align-items: center;

    align-content: flex-start;

    gap: 10px;
}

.box{
    border: 1px solid brown;
    background-color: blue;
}